# Week 7 Assignment

_MkKinney 6.1_

This week has been all about getting information off the internet both in structured data formats (CSV, JSON, etc) as well as HTML.  For these exercises, we're going to use two practical examples of fetching data from web pages to show how to use Pandas and BeautifulSoup to extract structured information from the web.

---
---

### 33.1 Parsing a list in HTML

Go to the Banner Health Price Transparency Page: https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency

Notice that there is a list of hospitals and the city they are in.  We want to parse the underlying HTML to create a list of all the hospitals along with which city they're in.

```json
[
    ["Banner - University Medical Center Phoenix", "Arizona"],
    ["Banner - University Medical Center South ", "Arizona"],
    ...
]
```

To examine the underlying HTML code, you can use Chrome, right-click, and choose **Inspect**.

For reference, the documentation for BeautifulSoup is here: https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [1]:
from bs4 import BeautifulSoup
import requests
headers = { "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36" }

response = requests.get('https://www.bannerhealth.com/patients/billing/pricing-resources/hospital-price-transparency', headers=headers)
soup = BeautifulSoup(response.text, 'html.parser')

In [2]:
div = soup.find_all('div', {"class":"col-md-8"})[0]
for hospital_list in div.find_all('ul'):
    state = hospital_list.previous_sibling.previous_sibling.string
    for hospital in hospital_list.find_all('li'):
        print(state, hospital.text)

Arizona Banner - University Medical Center Phoenix
Arizona Banner - University Medical Center South
Arizona Banner - University Medical Center Tucson
Arizona Banner Baywood Medical Center
Arizona Banner Behavioral Health Hospital
Arizona Banner Boswell Medical Center
Arizona Banner Casa Grande Medical Center
Arizona Banner Del E. Webb Medical Center
Arizona Banner Desert Medical Center/Cardon Children's Medical Center
Arizona Banner Estrella Medical Center
Arizona Banner Gateway Medical Center/Banner MD Anderson Cancer Center
Arizona Banner Goldfield Medical Center
Arizona Banner Heart Hospital
Arizona Banner Ironwood Medical Center
Arizona Banner Ocotillo Medical Center
Arizona Banner Payson Medical Center
Arizona Banner Thunderbird Medical Center
Arizona Page Hospital
California Banner Lassen Medical Center
Colorado Banner Fort Collins Medical Center
Colorado McKee Medical Center
Colorado North Colorado Medical Center
Colorado Sterling Regional Medical Center
Colorado East Morgan County Hospital
Nebraska Ogallala Community Hospital
Nevada Banner Churchill Community Hospital
Wyoming Banner Wyoming Medical Center
Wyoming Community Hospital
Wyoming Washakie Medical Center
Wyoming Platte County Memorial Hospital
State-Specific Regulations Arizona
State-Specific Regulations California
State-Specific Regulations Colorado
State-Specific Regulations Nebraska
State-Specific Regulations Nevada
State-Specific Regulations Wyoming

---

### 33.2 Using Pandas to Read Tables


Pandas documentation for loading data https://pandas.pydata.org/pandas-docs/version/0.23.4/api.html#input-output

Pandas documentation for describing the shape of data https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.shape.html

In [3]:
import pandas as pd

In [4]:
tables = pd.read_html('https://en.wikipedia.org/wiki/Diagnosis-related_group')
len(tables)

5

In [5]:
for index,table in enumerate(tables):
    print("**************TABLE {}".format(index))
    print(table)

**************TABLE 0
    0                                                  1
0 NaN  This article has multiple issues. Please help ...
1 NaN  This article needs to be updated. Please updat...
2 NaN  This article needs additional citations for ve...
**************TABLE 1
    0                                                  1
0 NaN  This article needs to be updated. Please updat...
**************TABLE 2
    0                                                  1
0 NaN  This article needs additional citations for ve...
**************TABLE 3
   Hypothetical patient at Generic Hospital in San Francisco, CA, DRG 482, HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC (2001)[15]:8  \
0                                         Description
1                              Average length of stay
2                      Large urban labor-related rate
3                       Large urban non-labor-related
4                                          Wage index
5   Standard Federal Rate: labor * wage index + no...
6                     DRG relative weight (RW) factor
7    Weighted payment: Standard Federal Rate * DRG RW
8                Disproportionate Share Payment (DSH)
9                    Indirect medical education (IME)
10                   Total cost outlier reimbursement
11  Total operating payment: Weighted payment * (1...

   Hypothetical patient at Generic Hospital in San Francisco, CA, DRG 482, HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC (2001)[15]:8.1
0                                               Value
1                                             3.8[16]
2                                           $2,809.18
3                                           $1,141.85
4                                              1.4193
5                                           $5,128.92
6                                              1.8128
7                                           $9,297.71
8                                              0.1413
9                                              0.0744
10                                                 $0
11                                         $11,303.23
**************TABLE 4
     Name  Version       Start date  \
0  MS-DRG       25  October 1, 2007
1  MS-DRG       26  October 1, 2008
2  MS-DRG       27  October 1, 2009
3  MS-DRG       31  October 1, 2013
4  MS-DRG       32  October 1, 2014
5  MS-DRG       33  October 1, 2015
6  MS-DRG       34  October 1, 2016
7  MS-DRG       35  October 1, 2017

                                               Notes
0  Group numbers resequenced, so that for instanc...
1  One main change: implementation of Hospital Ac...
2  Changes involved are mainly related to Influen...
3                                                NaN
4                                                NaN
5            Convert from ICD-9-CM to ICD-10-CM.[17]
6  Address ICD-10 replication issues introduced i...
7  MS-DRGs 984 through 986 deleted and reassigned...

In [6]:
drgs = tables[4]
drgs

,Name,Version,Start date,Notes
0,MS-DRG,25,"October 1, 2007","Group numbers resequenced, so that for instanc..."
1,MS-DRG,26,"October 1, 2008",One main change: implementation of Hospital Ac...
2,MS-DRG,27,"October 1, 2009",Changes involved are mainly related to Influen...
3,MS-DRG,31,"October 1, 2013",NaN
4,MS-DRG,32,"October 1, 2014",NaN
5,MS-DRG,33,"October 1, 2015",Convert from ICD-9-CM to ICD-10-CM.[17]
6,MS-DRG,34,"October 1, 2016",Address ICD-10 replication issues introduced i...
7,MS-DRG,35,"October 1, 2017",MS-DRGs 984 through 986 deleted and reassigned...

---

### 33.3 Find Something of Your Own

Do some web searches and find an HTML page with some data that is interesting to something you're studying.  You can extract and parse that information using either BeautifulSoup or Pandas.  If you're using Pandas, then do something interesting to format and structure your data.  If you're using BeautifulSoup, you'll just need to do the work of parsing the data out of HTML -- that's hard enough!

You don't need to build this as a function.  Just use notebook cells as I've done above.  You will be graded based on _style_.  Use variable names that make sense for your problem / solution. Cleanup anything you don't need before you submit your work.

In [7]:
# Your Code Here

In [8]:
import pandas as pd

In [9]:
# I'm doing some predictive modeling of healthcare costs at work so I figured I'd do something regarding costs
tables = pd.read_html('https://www.thebalance.com/causes-of-rising-healthcare-costs-4064878')
len(tables)

1

In [10]:
costs = tables[0]
costs

,Year,National Health Spending (Billions),Percent Growth,Cost Per Person,Event
0,1960,$27.2,NaN,$146,Recession
1,1961,$29.1,7.1%,$154,Recession ended
2,1962,$31.8,9.3%,$166,NaN
3,1963,$34.6,8.6%,$178,NaN
4,1964,$38.4,11.0%,$194,LBJ started Medicare and Medicaid
5,1965,$41.9,9.0%,$209,LBJ started Medicare and Medicaid
6,1966,$46.1,10.1%,$228,Vietnam War
7,1967,$51.6,11.9%,$253,NaN
8,1968,$58.4,13.3%,$284,NaN
9,1969,$65.9,12.9%,$318,NaN
10,1970,$74.6,13.1%,$355,Recession
11,1971,$82.7,11.0%,$389,Wage-price controls
12,1972,$92.7,12.0%,$431,Stagflation
13,1973,$102.8,11.0%,$474,Gold standard ended. HMO Act
14,1974,$116.5,13.4%,$534,ERISA / Wage-price controls ended
15,1975,$133.3,14.4%,$605,Inflation at 6.9%
16,1976,$152.7,14.6%,$688,Inflation at 4.9%
17,1977,$173.9,13.8%,$777,Inflation at 6.7%
18,1978,$195.3,12.4%,$865,Inflation at 9%
19,1979,$221.5,13.4%,$971,Inflation at 13.3%
20,1980,$255.3,15.3%,"$1,108",Inflation at 12.5%
21,1981,$296.2,16.0%,"$1,273",Fed raised rates
22,1982,$334.0,12.8%,"$1,422",Recession ended
23,1983,$367.8,10.1%,"$1,550",Tax hike and higher defense spending
24,1984,$405.0,10.1%,"$1,692",Tax hike and higher defense spending
25,1985,$442.9,9.4%,"$1,833",NaN
26,1986,$474.7,7.2%,"$1,947",Tax cut
27,1987,$516.5,8.8%,"$2,099",Black Monday
28,1988,$579.3,12.2%,"$2,332",Fed raised rate
29,1989,$644.8,11.3%,"$2,571",S&L crisis
30,1990,$721.4,11.9%,"$2,843",Recession. Inflation at 6.1%
31,1991,$788.1,9.2%,"$3,070",Recession
32,1992,$854.1,8.4%,"$3,287",NaN
33,1993,$916.6,7.3%,"$3,487",HMOs
34,1994,$967.2,5.5%,"$3,641",NaN
35,1995,"$1,021.6",5.6%,"$3,806",Fed raised rate
36,1996,"$1,074.4",5.2%,"$3,964",Welfare reform
37,1997,"$1,135.5",5.7%,"$4,147",Balanced Budget Act
38,1998,"$1,202.0",5.8%,"$4,345",LTCM crisis
39,1999,"$1,278.3",6.4%,"$4,576",BBRA
40,2000,"$1,369.7",7.1%,"$4,857",BIPA
41,2001,"$1,486.8",8.5%,"$5,220",9/11 attacks
42,2002,"$1,629.2",9.6%,"$5,668",War on Terror
43,2003,"$1,768.2",8.5%,"$6,098",Medicare Modernization Act
44,2004,"$1,896.3",7.2%,"$6,481",NaN
45,2005,"$2,024.2",6.7%,"$6,855",Bankruptcy Act
46,2006,"$2,156.5",6.5%,"$7,233",NaN
47,2007,"$2,295.7",6.5%,"$7,628",Inflation at 4.1%
48,2008,"$2,399.1",4.5%,"$7,897",Recession slowed spending.
49,2009,"$ 2,495.4",4.0%,"$8,143",NaN
50,2010,"$2,598.8",4.1%,"$8,412",ACA signed
51,2011,"$2,689.3",3.5%,"$8,644",Debt crisis
52,2012,"$2,797.3",4.0%,"$8,924",Fiscal cliff
53,2013,"$2,879.0",2.9%,"$9,121",ACA taxes
54,2014,"$3,026.2",5.1%,"$9,515",Exchanges opened
55,2015,"$3,200.8",5.8%,"$9,994",NaN
56,2016,"$3,337.2",4.3%,"$10,348",NaN
57,2017,"$3,492.1",3.9%,"$10,739",Drug costs rose just 0.4%.
58,2018,3649.4,4.8%,"$11,172",NaN

In [11]:
# Some simple restructuring with pandas
# Sorting descending by year, and grabbing only the year and cost per person

cost_condensed = costs.sort_values('Year', ascending = False)[['Year', 'Cost Per Person']]
cost_condensed

    Year Cost Per Person
58  2018         $11,172
57  2017         $10,739
56  2016         $10,348
55  2015          $9,994
54  2014          $9,515
53  2013          $9,121
52  2012          $8,924
51  2011          $8,644
50  2010          $8,412
49  2009          $8,143
48  2008          $7,897
47  2007          $7,628
46  2006          $7,233
45  2005          $6,855
44  2004          $6,481
43  2003          $6,098
42  2002          $5,668
41  2001          $5,220
40  2000          $4,857
39  1999          $4,576
38  1998          $4,345
37  1997          $4,147
36  1996          $3,964
35  1995          $3,806
34  1994          $3,641
33  1993          $3,487
32  1992          $3,287
31  1991          $3,070
30  1990          $2,843
29  1989          $2,571
28  1988          $2,332
27  1987          $2,099
26  1986          $1,947
25  1985          $1,833
24  1984          $1,692
23  1983          $1,550
22  1982          $1,422
21  1981          $1,273
20  1980          $1,108
19  1979            $971
18  1978            $865
17  1977            $777
16  1976            $688
15  1975            $605
14  1974            $534
13  1973            $474
12  1972            $431
11  1971            $389
10  1970            $355
9   1969            $318
8   1968            $284
7   1967            $253
6   1966            $228
5   1965            $209
4   1964            $194
3   1963            $178
2   1962            $166
1   1961            $154
0   1960            $146

---

## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Save this note with Ctrl-S (or Cmd-S)
2. Skip down to the last command cell (the one starting with `%%bash`) and run that cell.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

In [12]:
assert False, "DO NOT REMOVE THIS LINE"

AssertionError: DO NOT REMOVE THIS LINE

---

In [ ]:
%%bash
git pull
git add week08_assignment_2.ipynb
git commit -a -m "Submitting the week 8 programming assignment"
git push


---

If the message above says something like _Submitting the week 8 programming assignment_ or _Everything is up to date_, then your work was submitted correctly.